1. Component Testing 
	
	
2. System Testing


3. Acceptance Testing 