1. Component Testing 
	
	
2. System Testing


3. Acceptance Testing 
	The main acceptance testing that we used for our system is to test all possible cases for users' requests. We focused our testing and development on our user stories, and that was the main idea that led our testing. 
	We took what the users requested and developed their wishes to the best of our ability. These users also gave us some ideas of tests to use to make sure the system is what they imagined. We took these ideas and made 
	sure to test them all out to make sure it was specifically what the user requested, we also added some of our own tests that we thought of to make sure that our system was as well run and bug free as we could get it.
	The user stories gave us ways to test our system, and they were our main basis for designing our tests. 
	
		1) Random Workout Generator Feature 
			The user acceptance test for this feature was to be able to generate a random workout based on the equipment that the user has inputted. 
			This feature is not completely implemented, we have random workout generation we just need to add the generation based on user input. 
			We have tested out the random workout generation heavily, now we just need to figure out how to use user input and test it.
		
		2) Tutorial Feature	
			The user acceptance test for the tutorial feature was that there is a small tutorial for every workout on the site so the user can make sure they are doing the workout correctly. 
			This feature is fully implemented. For every workout, we have a tutorial gif given to show the user the correct form. 
		
		3) Timer
			The user acceptance test for the timer was that each workout comes with a timer to show the user how long they still have in their current set. 
			This feature is not fully implemented. We have a timer, but it only counts down from 30 seconds. Just like the random workout generator feature, 
			we need to figure out how to get user input and use it to choose the timer length. While this was not an acceptance test from the user, we have 
			added it ourselves to better test this feature. 
		
		4) Workout Increase 
			The user acceptance test for the workout increase feature was the user should tell the website how difficult their last workout was for them and 
			the workout should make their next workout either the same weight or heavier based on input. 
			This feature is not fully implemented. We have to store previous user data before we can develop this idea, that is what is currently holding us back from 
			finishing and testing this feature. 
		
		5) Workout History to Calendar Tracker Feature 
			The user acceptance test for the workout history feature wass that once a user has completed a workout, it will be marked as finished on their calendar
			so that they can keep track of their previous workouts. 
			This feature is not fully implemented. We currently have the calendar feature working and we can add events to it, the thing holding us back from this 
			one is also the ability to store user data. We have to develop a way for users to sign in and a database to keep track of their previous workouts. 
			
		6) Progressive Overload Feature 
			The user acceptance test for the progressive overload feature was that the website would keep mildly increasing the weight of the user so that the user 
			can continue to get stronger slowly without becoming stagnant at a specific weight. 
			This feature is not fully implemented. As with the workout increase and the workout history features, we need a way to keep track of the user's data 
			so that we can know what their previous weights were. 